<%- include('partials/header.ejs'); %>
<div class="container">
<h1> Hello World </h1>
<a href="/login" class="btn btn-primary">Login</a>
<a href="/signUp" class="btn btn-primary">Sign Up</a>
</div>
<%- include('partials/footer.ejs'); %>